# Secrets
alertmanager.yml
.env

# Docker named volumes data (Currently - None)
volumes/grafana/data/
volumes/prometheus/data/

# Local scripts logs
*.log

# IDE / OS junk
.DS_Store
*.swp
*.swo
*.tmp

# Nested Repos
projects/landing/

# Landing build artifacts (if you ever compile something)
projects/landing/node_modules/
projects/landing/dist/
EOF
